<section class='hero'>
  <div class='container'>
    <div class='hero__brand'>Dreamshare</div>
    <h1 class='heading-1--w'>Share your holiday dream</h1>
    <p class='hero__subheading'>And find the perfect partner to
    fullfill it</p>
    <button class='btn--primary'>Find your holiday partner</button>
  </div>
</section>
