<section class='newsletter'>
  <div class='container'>
    <h2 class='heading-2'>
      Create your holiday activity
    </h2>
    <p class='newsletter__sub-text'>
      Hi! What are your holiday interests?
    </p>
    <div class='input-group'>
      <input class='input' placeholder='Enter your interests' />
      <button class='btn--primary'>
        Search partners
      </button>
    </div>
  </div>
</section>
