$color-primary: #ff4e50;
$color-secondary: #f9d423;
$color-light-1: #fff;
$color-light-2: #e3e3e3;
$color-light-3: #f7f3f2;
$color-light-4: #d4d4d4;
$color-dark-1: #000;
$color-dark-2: #444;
$color-dark-3: #666;
$color-dark-4: #999;
