@mixin heading {
  letter-spacing: 1.3px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

@mixin heading-1 {
  @include heading;
  font-size: 30px;
  text-transform: uppercase;
}

.heading-1 {
  @include heading-1;

  &--w {
    @include heading-1;
    color: $color-light-1;
  }

  @media screen and (min-width: 768px) {
    &--w {
      font-size: 52px;
    }
  }
}

@mixin heading-2 {
  @include heading;
  font-size: 22px;
  letter-spacing: .5px;
}

.heading-2 {
  @include heading-2;
  color: $color-dark-2;
}
