@mixin heading {
  letter-spacing: 1.3px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

@mixin heading-1 {
  @include heading;
  font-size: 30px;
}

.heading-1 {
  @include heading-1;

  &--w {
    @include heading-1;
    color: $color-light-1;
  }
}
