.services {
  margin-top: 35px;

  h2 {
    text-align: center;
    margin-bottom: 33px;
  }
}

.service-list {
  list-style-type: none;

  & > li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.service-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  overflow: hidden;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition-property: box-shadow, background-size;
  transition-duration: .15s, .75s;
  transition-timing-function: ease-in;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    background-size: 120%;
  }
}

.service__name {
  font-size: 22px;
  color: $color-light-1;
  text-align: center;
  line-height: 1.2;
  max-width: 206px;
}
