{% extends '@layouts/home/home.twig' %}

{% block contents %}
	<section class="guide">
    Guides
	</section>
  <section class='partners'>
    Partners
  </section>
  <section class='services'>
    Services
  </section>
  <section class='newsletter'>
    Newsletter
  </section>
{% endblock %}
