.header {
  position: absolute;
  width: 100%;
  margin-top: 20px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buttons {
    display: flex;
  }

  &__brand {
    display: none;
    font-size: 20px;
    color: $color-light-1;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 40px;

    &__container {
      justify-content: space-between;
      width: calc(100% - 100px);
      max-width: 960px;
      margin: auto;
    }

    &__brand {
      display: inline-block;
    }

    &__buttons {
      grid-column: 9 / 13;
    }
  }
}
