<header class="header">
  <div class='header__buttons'>
    <button class='btn--link'>Log in</button>
    <button class='btn--default-outline'>Sign up</button>
  </div>
  <div class='header__content'>
    <div class='header__brand'>Dreamshare</div>
    <h1 class='heading-1--w'>Share your holiday dream</h1>
    <p class='header__subheading'>And find the perfect partner to
    fullfill it</p>
    <button class='btn--primary'>Find your holiday partner</button>
  </div>
</header>
