<section class='feedback'>
  <div class='container'>
    <div class='slider'>
      <button class='slider__prev'>
        ❮
      </button>
      <button class='slider__next'>
        ❯
      </button>
      <div class='slider-content'>
        <ul class='slider-list'>
          <li class='slider-list__item'>
            <figure class='slider-avatar'>
              <img class='slider-avatar__img' src='/src/images/rectangle-13_2019-09-24/rectangle-13.jpg'/>
            </figure>
            <h4 class='slider-name'>Ida Stephens — Noir Project</h4>
            <p class='slider-text'>
              “Conversations can be a tricky business. Sometimes, decoding what is
              said with what is meant is difficult at best. However, communication is
              a necessary tool in todays world. It’s often been the case were one
              party completely miscommunicates to another due to a misunderstanding
              between parties.” 
            </p>
          </li>
        </ul>
        <ul class='slider-nav'>
          <li class='slider-nav__item'>
            <button class='slider-nav__button'></button>
          </li>
          <li class='slider-nav__item'>
            <button class='slider-nav__button'></button>
          </li>
          <li class='slider-nav__item'>
            <button class='slider-nav__button'></button>
          </li>
          <li class='slider-nav__item'>
            <button class='slider-nav__button'></button>
          </li>
          <li class='slider-nav__item'>
            <button class='slider-nav__button'></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
