<section class='register'>
  <div class='container'>
    <h2 class='heading'>
      Create An Account
    </h2>
    <form class='register-form'>
      <h3 class='register-form__title'>Sign up</h3>
      <input class='register-form__input' type='email'
      placeholder='Email' />
      <input class='register-form__input' type='password'
      placeholder='Password' />
      <input class='register-form__input' type='password'
      placeholder='Confirm Password' />
      <a class='register-form__link'>Already Have an account?</a>
      <button class='btn-primary'>Sign up</button>
    </form>
</section>
