<footer class='footer'>
  <div class='footer__brand'>Dreamshare</div>
  <h5 class='footer__heading'>Company</h5>
  <nav class='footer__nav'>
    <a href='#about' class='footer__nav-item'>About</a>
    <a href='#about' class='footer__nav-item'>Contact</a>
    <a href='#about' class='footer__nav-item'>Press</a>
    <a href='#about' class='footer__nav-item'>Blog</a>
    <a href='#about' class='footer__nav-item'>Terms and Privacy</a>
    <a href='#about' class='footer__nav-item'>Help</a>
  </nav>
  <h5 class='footer__heading'>Partners</h5>
  <img class='footer__logo' src='https://cdn.worldvectorlogo.com/logos/diesel.svg' />
</footer>
